

<div class="container" >

	<div class="row">
		<div class="col-md-12" style="padding-top: 0vh; color: white; margin-bottom: 2vh; text-align: center">
			<h2 style="display: table;margin: auto; color:#2d2d2d">{{ hola }} Bem-vindo! Por favor, inserir um URL que você gostaria criptografar:</h2>
			
		</div>
		
	</div>

	
	<div class="row">
		<div class="col-md-8 col-md-offset-2" style="padding-top: 10vh">
			<input  required id="input" class="form-control" style="display: table; margin: auto; " type="text" value="" placeholder="URL a converter">
			<br>
			<input  required id="campaingTitle" class="form-control" style="display: table; margin: auto; " type="text" value="" placeholder="Titulo da campanha">
			<br>
			<input  required id="buttonTitle" class="form-control" style="display: table; margin: auto; " type="text" value="" placeholder="Titulo do Botao">
			<br>
			<input required  id="imgTitle" class="form-control" style="display: table; margin: auto; " type="text" value="" placeholder="Nome da Imagen a Anexar dentro do website https://www.spinver.com/images/files/banner/...">
			<br>
			
			<button id="button" class="btn btn-lg btn-primary btn-default" style="display: table; margin: auto; ">1º Gerar URL</button>
			
		</div>
		
	</div>
	<br>
	<div class="row">
		<div class="col-xs-12" style="display: table; margin: auto">
			<br>
			<h3 style="color: #2d2d2d">Este é seu link criptografado:</h3>
			<br>

			<div class="col-xs-5">
				<button id="copyButton" class="btn btn-lg btn-primary btn-default" style="display:table; margin-left: auto; margin-top: 3vh" data-clipboard-action="copy" data-clipboard-target="#output">2º Copiar URL</button>
			</div>

			<div class="col-xs-7" style="padding: 0">
			<textarea name="" id="output" rows="4" style="width: 100%; text-align: center; display: inline; color: #2d2d2d">
				
			</textarea>
			</div>

			
		</div>
	</div>
			
</div>


<script>
				
	var inputURL = document.getElementById("input");
	var campaingTitle = document.getElementById("campaingTitle");
	var buttonTitle = document.getElementById("buttonTitle");
	var imgTitle = document.getElementById("imgTitle");

	var button =  document.getElementById("button");
	var outputURL =  document.getElementById("output");

	button.addEventListener("click", function(){


		// i have the url coded
		var codedURL = btoa(inputURL.value); 
		var codedImg = imgTitle.value; 

		outputURL.innerHTML = "app.spinver.com?url=" + codedURL + "&campaing_title=" + campaingTitle.value + "&button_title=" + buttonTitle.value + "&img_title=" + codedImg;

		
	});

</script>
